---
import "@/styles/global.css"
import Footer from "@/components/sections/footer.astro";
import Header from "@/components/sections/header.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio website</title>
	</head>
	<body class="bg-gray-950 text-gray-50">
		<Header/>
		<main class="flex flex-col justify-center mx-auto container">
			<slot />
		</main>
	<Footer/>
	</body>
</html>
